input[type="checkbox"]:disabled {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {

    h1, select, .table, .leg {
        margin-left: 12%;
        margin-top: 3%;
    }

    #ChangeAttendanceBtn, #exportButton {
        margin-top: 3%;
        margin-left: 12%;
    }

}
