input[type="checkbox"]:disabled {
    width: 20px;
    height: 20px;
}

input[type="checkbox"] {
    appearance: none;
    border: 1px solid #999;
    width: 16px;
    height: 16px;
    position: relative;
}

    input[type="checkbox"]:checked:after {
        content: "Н";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }


@media (max-width: 768px) {

    h1, select, .table, .leg {
        margin-left: 12%;
        margin-top: 3%;
    }

    #ChangeAttendanceBtn, #exportButton {
        margin-top: 3%;
        margin-left: 12%;
    }

}
