/* _content/recordBook/Views/Home/AddSubject.cshtml.rz.scp.css */
.form-group2[b-m45tzvt20v] {
    position: fixed;
    display: inline-block;
    width: 30%;
    /*top:50px;*/
}


.form-group3[b-m45tzvt20v] {
    position: fixed;
    display: inline-block;
    width: 40%;
    margin-left: 35%;
}

.grSelectBtn[b-m45tzvt20v] {
    text-align: center;
    width: 100px;
    border: solid;
    border-color: gray;
    border-width: 1px;
    height: 45px;
    border-radius: 100px;
}
/* _content/recordBook/Views/Home/AttendanceOfStudents.cshtml.rz.scp.css */
input[type="checkbox"]:disabled[b-u9xm3bsodb] {
    width: 20px;
    height: 20px;
}
/* _content/recordBook/Views/Home/Index.cshtml.rz.scp.css */
body[b-tbp4gel1sq] {
}


input[type="submit"][b-tbp4gel1sq] {
    margin: 5px;
    border: 0;
    width: 195px;
}


.text-center[b-tbp4gel1sq]{
    margin:20% 0 0 0;
}

/* _content/recordBook/Views/Shared/_IndexLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-95qdwjui8u] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-95qdwjui8u] {
    color: #0077cc;
}

.btn-primary[b-95qdwjui8u] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-95qdwjui8u], .nav-pills .show > .nav-link[b-95qdwjui8u] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-95qdwjui8u] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-95qdwjui8u] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-95qdwjui8u] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-95qdwjui8u] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-95qdwjui8u] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
/* _content/recordBook/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fkdb7xsfkg] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fkdb7xsfkg] {
  color: #0077cc;
}

.btn-primary[b-fkdb7xsfkg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fkdb7xsfkg], .nav-pills .show > .nav-link[b-fkdb7xsfkg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fkdb7xsfkg] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fkdb7xsfkg] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fkdb7xsfkg] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fkdb7xsfkg] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fkdb7xsfkg] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.container[b-fkdb7xsfkg] {
    float:right;
    margin-right:50px;
}

.navBoard[b-fkdb7xsfkg] {
    transition-duration: 1.5s;
    position: absolute;
    font-size: 20px;
    margin-top: 110px;
    margin-left: -250px;
    border: 0px solid #13547156;
    border-radius: 50px;
    z-index: 1;
    
}

.navLabel[b-fkdb7xsfkg] {
    position: absolute;
    writing-mode: vertical-lr;
    margin-left: 250px;
    margin-top: -230px;
    z-index: 2;
    border: 10px solid #13547156;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.navBoard:hover[b-fkdb7xsfkg] {
    position: absolute;
    transition-duration: 1s;
    font-size: 20px;
    margin-left: 0px;
}


/*button {
    border: 10px solid #13547156;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}*/
