################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/recordBook/.vs
.vs/RecordBook
RecordBook/RecordBook/bin
RecordBook/RecordBook/obj
/.vs
.vs
bin
obj

*.obj
*.exe
[Dd]ebug/
[Rr]elease/
**/obj/
**/bin/
