################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/КурсачДипломРепоз/FileContentIndex/94577b07-1ce3-4904-81ed-7337b7326062.vsidx
