@* @using recordBook.Models
@using recordBook.Models.ViewModels *@

@model recordBook.Models.ViewModels.AddSubjectViewModel;
@{
	ViewBag.Title = "Добавление предмета";
}

<form asp-action="AddSubject" asp-controller="home">
	<div class="form-group">
		<label asp-for="NameSubject" class="control-label">Название</label>
		<span asp-validation-for="NameSubject" style="color:Red;"></span>
		<input type="text" asp-for="NameSubject" class="form-control" style="width:30%" />
	</div>
	<p style="margin-top:50px; margin-bottom:20px;">Выберите группы, которые изучают предмет</p>
	<div class="form-group1">
		<div class="form-group2">
			<table class="table" id="myTable">
				<thead>
					<tr>
						<td id="tableLabel">
							<h6 style="margin-bottom : 0px;">Доступные группы</h6>
						</td>
						<td id="tableLabel">
						</td>
					</tr>
				</thead>
				<tbody>
					@foreach (var groups in Model.Groups)
					{
						<tr style="text-align:center">
							<td value="@groups.ID_Group">@groups.Name_group</td>
							<td>

								<a class="btn btn-outline-success" onclick="selectGroup(@groups.ID_Group)" style="border:1px; font-weight:normal">Выбрать</a>

							</td>
						</tr>
					}
				</tbody>

			</table>
			<input type="submit" value="Добавить" class="btn btn-success" style="width:100px;" />

		</div>

		<div class="form-group3">
			<table class="table" id="tableOfSelectedGroups">
				<thead>
					<tr>
						<td style="width:35%;">
							<h6 style="margin-bottom : 0px;">Выбранные группы</h6>
						</td>
						<td></td>
					</tr>
				</thead>
				<tbody>

				</tbody>

			</table>
		</div>
	</div>

</form>

<script type='text/javascript'>

	function selectGroup(Id) {
		var url = "/Home/SelectGroup/" + Id;
		$.ajax({
			url: url,
			method: 'GET',
			dataType: 'json',
			success: function (product) {
				$('#tableOfSelectedGroups').append("<tr><td>" + product.name_group + "</td><td>" + product.decoding + "</td></tr>");
			},
		});
	}

</script>