@model recordBook.Models.AuthorizationViewModel;
@{
	Layout = "~/Views/Shared/_IndexLayout.cshtml";
	ViewData["Title"] = "Вход";
}

<div class="text-center">
	<h1 class="display-4">Авторизация</h1>
	<form asp-action="Authorization" asp-controller="Home">
		<span asp-validation-for="Login" style="color:red;"></span><br>
		<input type="text" asp-for="Login" placeholder="Логин" style="width:80%; max-width:400px"><br>
		<span asp-validation-for="Password" style="color:red;"></span><br>
		<input type="password" asp-for="Password" placeholder="Пароль" style="width:80%; max-width:400px"><br>

		@if (Model.ErrorText)
		{
			<span style="color:red;">Логин или пароль не верны</span><br>
		}
		<input type="submit" value="Войти" style="height:30px; margin-top:20px;">
	</form>
	<a asp-action="Registration" asp-controller="Home" class="link-secondary" value="Зарегистрироваться" style="border:0px; width:195px; height:30px;">Регистрация</a>
</div>
