@model recordBook.Models.Student
@{
    ViewBag.Title = "Добавление пользователя";
}
<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <label asp-for="Surname" class="control-label">Фамилия</label>
        <input type="text" asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Patronymic" class="control-label">Отчество</label>
        <input type="text" asp-for="Patronymic" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ID_Group" class="control-label">ID_Group</label>
        <input type="text" asp-for="ID_Group" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>