@model recordBook.Models.UserViewModel;
@{
	ViewData["Title"] = "Вход";
}

<div class="text-center">
	<h1 class="display-4">Авторизация</h1>
	<form method="post" asp-action="Index" asp-asp-controller="Home">
		<input type="text" asp-for="Login" placeholder="Логин" style="width:400px"><br>
		<span asp-validation-for="Login" style="color:red;"></span><br>
		<input type="text" asp-for="Password" placeholder="Пароль" style="width:400px"><br>
		<span asp-validation-for="Password" style="color:red;"></span><br>
		<input type="submit" value="Войти">
		<input type="submit" asp-action="Privacy" asp-controller="Home" value="Зарегистрироваться" style="border:0px; width:195px;">
	</form>





</div>
