/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.container {
    float:right;
    margin-right:50px;
}

.navBoard {
    transition-duration: 1.5s;
    position: absolute;
    font-size: 20px;
    margin-top: 110px;
    margin-left: -250px;
    border: 0px solid #13547156;
    border-radius: 50px;
    z-index: 1;
    
}

.navLabel {
    position: absolute;
    writing-mode: vertical-lr;
    margin-left: 250px;
    margin-top: -130%;
    z-index: 2;
    border: 10px solid #13547156;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.navLabel2 {
    position: absolute;
    writing-mode: vertical-lr;
    margin-left: 250px;
    margin-top: -85%;
    z-index: 2;
    border: 10px solid #13547156;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.navLabel3 {
    position: absolute;
    writing-mode: vertical-lr;
    margin-left: 250px;
    margin-top: -110%;
    z-index: 2;
    border: 10px solid #13547156;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.navBoard:hover {
    position: absolute;
    transition-duration: 1s;
    font-size: 20px;
    margin-left: 0px;
}

