<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/recordBook.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Authorization">заЧётка</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Authorization">Регистрация</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="ShowStudents">Главная</a>
						</li>
					</ul>
				</div>
				<a class="navbar-brand" asp-controller="Account" asp-action="AccountInfo">@ViewData["User"]</a>
			</div>
		</nav>
	</header>

	<div class="navBoard">

		<style>
			.sideMenu {
				width: 250px;
				text-align: center;
				border: 10px solid #13547156;
				margin: 0px 0px 0px 0px;
				padding: 5%;
				cursor: pointer;
				background-color: white;
			}

			#men1{
				border-top-left-radius: 25px;
				border-top-right-radius: 25px;
			}

			#men2{
				border-bottom-left-radius: 25px;
				border-bottom-right-radius: 25px;
			}
				/* .sideMenu:nth-child(1) {

				} */
/* 
				.sideMenu:nth-child(9) {

				} */
		</style>
		<form>
			@if (User.IsInRole("Teacher"))
			{
				<input type="submit" id="men1" class="sideMenu" asp-action="ShowStudents" asp-controller="Student" value="Просмотр групп"><br>
				<input type="submit" class="sideMenu" asp-action="AttendanceOfStudents" asp-controller="Attendance" value="Посещаемость"><br>
				<input type="submit" class="sideMenu" asp-action="ExamsMarks" asp-controller="Exams" value="Экзамены"><br>
				<input type="submit" class="sideMenu" asp-action="AddStudent" asp-controller="Student" value="Добавления студента"><br>
				<input type="submit" class="sideMenu" asp-action="AddSubject" asp-controller="Subject" value="Добавить предмет"><br>
				<input type="submit" class="sideMenu" asp-action="Debt" asp-controller="Exams" value="Задолженности"><br>
				<input type="submit" id="men2" class="sideMenu" asp-action="Upcoming" asp-controller="Exams" value="Предстоящие экзамены"><br>
				<label class="navLabel">Навигация</label>
			}
			else
			{
				<input type="submit" id="men1" class="sideMenu" asp-action="AttendanceOfStudents" asp-controller="Attendance" value="Посещаемость"><br>
				<input type="submit" class="sideMenu" asp-action="ExamsMarks" asp-controller="Exams" value="Экзамены"><br>
				<input type="submit" id="men2" class="sideMenu" asp-action="Debt" asp-controller="Exams" value="Предстоящие экзамены">

				<br>
				<label class="navLabel2">Навигация</label>
			}
		</form>

	</div>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - Версия:очень альфа
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
