@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Вы не должны видеть это сообщение.</h1>
<h2 class="text-danger">Да.</h2>ъ

@if (Model != null && Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
