.form-group2[b-m45tzvt20v] {
    position: fixed;
    display: inline-block;
    width: 30%;
    /*top:50px;*/
}


.form-group3[b-m45tzvt20v] {
    position: fixed;
    display: inline-block;
    width: 40%;
    margin-left: 35%;
}

.grSelectBtn[b-m45tzvt20v] {
    text-align: center;
    width: 100px;
    border: solid;
    border-color: gray;
    border-width: 1px;
    height: 45px;
    border-radius: 100px;
}
